
@{
    ViewBag.Title = "Alter";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Book.Model.T_Base_User user = ViewBag.user;
}

<html>
<head>
    <title>修改管理员</title>
</head>

<body>
    <section id="main-content">
        <section class="wrapper">
            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <h4 class="mb"><i class="fa fa-angle-right"></i>管理员修改</h4>
                        <form class="form-horizontal style-form" action="/User/AlterSave" method="post">
                            <div class="hidden">
                                <label class="col-sm-2 col-sm-2 control-label">管理员Id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Id" name="Id" value="@user.Id" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">登录账号</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="LoginName" name="LoginName" value="@user.LoginName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="PassWord" name="PassWord" value="@user.PassWord" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">角色</label>
                                <div class="col-sm-10">
                                    <select id="RoleId" name="RoleId">
                                        <option value="1">超级管理员</option>
                                        <option value="2">资料维护员</option>
                                        <option value="3">入库管理员</option>
                                        <option value="4">出库管理员</option>
                                    </select>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-default" value="提交" />
                        </form>
                    </div>
                </div><!-- col-lg-12-->
            </div><!-- /row -->
        </section><! --/wrapper -->
    </section><!-- /MAIN CONTENT -->
    <script>
        $("#RoleId option[value=@user.RoleId]").attr("selected", true);

    </script>
</body>
</html>


